.header {
    height: 110vh;
    position: relative;
    overflow: hidden;
}


header h1 {
    /*font-size: 3vw;*/
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

header p {
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

header li {
    color: #ffffff;
    text-decoration: none;
    margin: 10px;
    font-size: clamp(20px, 1.2vw, 90px);
}

header img {
    width: clamp(30px, 20vw, 100px);
}

.title-menu {
    color: #ffffff;
    text-decoration: none;
    font-size: clamp(15px, 1.2vw, 90px);
    margin: 10px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    transition: transform 0.4s ease;

}

.navbar-toggler-icon:hover {
    transform: scale(1.1);

}

.navbar-toggler:focus .navbar-toggler-icon {
    transform: scale(0.8);
}

.navbar-toggler.collapsed .navbar-toggler-icon {
    transform: scale(1.2);
}

.header nav {
    /*background-color: rgba(0, 0, 0, 0.1);*/
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0));
    padding-bottom: 80px;
}

header hr {
    width: clamp(50px, 50%, 450px);
}

.round-1 {
    border-radius: 100px 50px 80px 10px;
}

.round-2 {
    border-radius: 50px 100px 10px 80px;
}

.widget-left {
    background: #7e73cc;
    margin-left: -800px;
    padding: 50px 0;
    border-radius: 0 80px 80px 0;
}

.ml-800 {
    margin-left: 800px;
}

.widget {
    background: #7e73cc;
    width: 100%;
    padding: 50px;
    border-radius: 20px 20px 100px 80px;
}

.bottom-m {
    /*position: absolute;*/
    margin-bottom: -2px;
}

.m-m {
    margin: 200px 0 200px 0;
}

article img {
    filter: saturate(30%);
    transition: filter 0.2s ease-in-out;
}

.size-img {
    width: 50vw; /* Valeur par défaut (valeur intermédiaire) */
    min-width: 300px; /* Valeur minimale */
    max-width: 600px; /* Valeur maximale */
}

p, ul {
    font-size: 1.1rem;
    margin-top: 20px;
    font-family: "Mukta", sans-serif;
    font-weight: 500;
    font-style: normal;
}

main img:hover {
    filter: saturate(100%);
}

/* Responsiveness */
@media (max-width: 767px) {
    header {
        font-size: 1.5rem;
    }

}