.header {
    height: 110vh;
    position: relative;
    overflow: hidden;
}

header h1 {
    /*font-size: 3vw;*/
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

header p {
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

header li {
    color: #ffffff;
    text-decoration: none;
    margin: 10px;
    font-size: clamp(20px, 1.2vw, 90px);
}

header img {
    width: clamp(30px, 20vw, 100px);
}

.title-menu {
    color: #ffffff;
    text-decoration: none;
    font-size: clamp(15px, 1.2vw, 90px);
    margin: 10px;
}


.bottom-m {
    /*position: absolute;*/
    margin-bottom: -2px;
}

.m-m {
    margin: 200px 0 200px 0;
}

main img {
    filter: saturate(30%);
    transition: filter 0.2s ease-in-out;

}

main img:hover {
    filter: saturate(100%);
}

/* Responsiveness */
@media (max-width: 767px) {
    header {
        font-size: 1.5rem;
    }

}