h2 {
    color: #5043c9;
}

main {
    min-height: 60vh;
}


.header {
    height: 110vh;
    position: relative;
    overflow: hidden;
}

header h1 {
    /*font-size: 3vw;*/
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

header p {
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

header li {
    color: #ffffff;
    text-decoration: none;
    margin: 10px;
    font-size: clamp(20px, 1.2vw, 90px);
}

/* Ajustement de la vague pour tablette */
.bottom-0-m {
    bottom: -20px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    transition: transform 0.4s ease;

}

.navbar-toggler-icon:hover {
    transform: scale(1.1);

}

.navbar-toggler:focus .navbar-toggler-icon {
    transform: scale(0.8);
}

.navbar-toggler.collapsed .navbar-toggler-icon {
    transform: scale(1.2);
}

.header nav {
    /*background-color: rgba(0, 0, 0, 0.1);*/
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0));
    padding-bottom: 80px;
}

header hr {
    width: clamp(50px, 50%, 450px);
}

header img {
    width: clamp(30px, 20vw, 100px);
}

.bottom-m {
    margin-bottom: -5px;
}

h2 {
    color: #5043c9;
}